[submodule "includes/c-helper-macros"]
	path = includes/c-helper-macros
	url = https://github.com/rhempel/c-helper-macros
[submodule "includes/unity"]
	path = includes/unity
	url = https://github.com/dandelion125/Unity.git
